.cursor {
    height: .8em;
    width: .8em;
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-color: var(--light);
    border-radius: 50%;
    transition: all .2s ease;
    // transition-property: background, transform;
    // transform-origin: 100% 100%;
}

.cursor.link-grow {
    transform: scale(4);
    background-color: var(--light);
    
}